@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.calculator {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 230px;
  
  border-radius: 10px;
  border: 1px solid #000;

  overflow: hidden;

  position: absolute;
  left: 0;
  right: 0;

  margin: 100px auto 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col2 {
  grid-column: 1 / 3;
}

.visor {
  height: 80px;
  padding: 6px;
  display: flex;
  position: relative;

  background: rgba(36, 36, 36, 1);
}

.dots {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: rgb(226, 107, 107);
  border-radius: 100%;
  box-shadow: 18px 0 0 rgb(245, 231, 102), 36px 0 0 rgb(147, 255, 97);
  position: absolute;
  z-index: 1;
}

.input {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  max-width: 100%;
  width: 100%;
  padding: 24px 8px 0;

  text-align: right;

  outline: none;
  border: none;

  font-size: 40px;
  font-family: Lato;

  background: transparent;
  color: #fff;

  pointer-events: none;
}

.btn {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.479);
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  height: 48px;
  color: #fff;
  background: rgb(184, 184, 184);
  border-radius: 0;
  cursor: pointer;
  font-size: 24px;
}

.btn:active {
  box-shadow: inset 0 0 100px rgba(255,255,255, .5);
}

.btn-primary {
  background:rgba(0, 0, 0, 0.6);
}

.btn-secondary {
  background:rgb(255, 189, 46);
  border-right: none;
}

.w-bb {
  border-bottom: none;
}