@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-weight: 300;
}

.header {
  padding: 24px;
}

.label {
  font-weight: bold;
  margin-right: 4px;
}

.input {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 4px;
}

.form-control {
  display: inline-block;
  margin-right: 24px;
}

.btn {
  height: 32px;
  background: #eee;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background: rgb(63, 118, 238);
}

.btn-secondary {
  background: rgb(233, 107, 107);
}

.btn:hover {
  box-shadow: inset 0 0 100px rgba(0,0,0,.1);
}

.btn:active {
  box-shadow: inset 0 0 100px rgba(0,0,0,.3);
}

.body {
  padding: 24px;
}

.table {
  border: 1px solid #000;
  width: 100%;
  padding: 0;
}

.line-header {
  background: #ccc;
  padding: 0;
}

.in {
  background: rgb(181, 247, 181);
}

.out {
  background: rgb(248, 191, 199);
}